@model StackExchangeWebClient.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


@section Scripts {
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
<script>
$(function () {
    var availableTags = @Html.Raw(Json.Serialize(Model.TagsList.Select(tag => tag.TagName).ToArray()));
    $(".autocomplete").autocomplete({
        source: availableTags
    });
    });

function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("taginput");
    filter = input.value.toUpperCase();
    table = document.getElementById("tagtable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>
}

<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Top 1000 tags from StackOverflow</h1>
        <hr class="my-4">
        <p class="lead">Find the most searched subjects on StackOverflow.</p>
    </div>

    <div class="input-group col-xs-4">
        <div class="input-group-addon">
            <span class="input-group-text" id="basic-addon2">Search</span>
        </div>
        <input class="form-control autocomplete" id="taginput" placeholder="Enter tag..." onkeyup="myFunction()" />
    </div>

    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-sm-2">Id</th>
                    <th class="col-sm-3">Name</th>
                    <th class="col-sm-3">Popularity</th>
                    <th class="col-sm-3">Popularity in %</th>
                </tr>
            </thead>
        </table>

        <div class="pre-scrollable">
            <div class="col-sm">
                <table class="table" id="tagtable">
                    <tbody>
                        @if (ViewData["Error"] == null)
                        {
                            @foreach (var item in Model.TagsList)
                            {
                                <tr>
                                    <th class="col-sm-2">@item.Id</th>
                                    <td class="col-sm-3">@item.TagName</td>
                                    <td class="col-sm-3">@item.Popularity</td>
                                    <td class="col-sm-3">@String.Format("{0:0.000}", (item.Popularity / Model.TotalCount * 100))%</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>@ViewData["Error"]</tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
